@import url("https://fonts.googleapis.com/css?family=Play|Poppins");

html {
    font-family: "poppins", sans-serif;
    padding: 10px;
    margin: 10% 30% 10% 30%;
    border: 1px solid red;
}

.title {
    text-align: center;
    font-size: 30px;
    /* border: 1px solid rgb(0, 255, 128); */
}

.title:hover {
    transform: scale(1.03);
    color: steelblue;
    transition: 0.5s;
}

.box-area {
    /* border: 1px solid rgb(38, 0, 255); */
    text-align: center;
    height: 100%;
    width: 100%;
}

.box-wrap {
    display: inline-block;
}

.each-box {
    text-align: center;
    padding-bottom: 5px;
    height: 60px;
    width: 60px;
    font-size: 50px;
}

.selected {
    color: green;
}